.back-ground {
  background-color: rgb(227 233 255);
}


.todo-body {
  border-radius: 5px;
  background-color: #fff;
  width: 600px;
  height: 80vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  padding-left: 30px;
}

.todo-title-div {
  width: 100%;
  height: 70px;
}

.todo-list {
  width: 100%;
  height: 60vh;
  overflow: auto;
}

.todoItem {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 10px 20px 10px 20px;
  text-align: center;

}

.todoItem.completed {
  color:red;
}

.todoItem.notCompleted {
  color: blue;
}